.container {
    max-width: 800px;
    margin: 0 auto;
}

.page {
    font-family: 'Lato', sans-serif;
    font-size: 1.1em;
}

.page-header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
    background: radial-gradient(circle, rgba(238, 174, 202, 0.01579560697748414) 0%, rgba(148, 187, 233, 0.09231246091006845) 100%);
}

.page-header::after {
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 1px;
    background-color: rgb(0, 59, 119);
}

.contacts-list {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    line-height: 1.5;
    text-align: right;
}

.header-contacts {
    padding: 1rem;
    margin-top: 1rem;
}

.contacts-birth {
    margin-top: 50%;
}

.header-about {
    padding: 1rem;
}

.about-img {
    margin-bottom: 1rem;
    border-radius: 50%;
}

.page-main {
    background: radial-gradient(circle, rgba(238, 174, 202, 0.11579560697748414) 0%, rgba(148, 187, 233, 0.15231246091006845) 100%);
    padding: 1rem;
}

.skills-list {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    flex: 1 1 auto;
}

.list-item {
    padding: 1rem;
    box-sizing: border-box;
    width: 33%;
    height: 3rem;
    background-color: rgba(0, 59, 119, 0.5);
    font-size: 1.1em;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1.5;
}

.list-item:nth-child(2n) {
    background-color: rgba(0, 59, 119, 0.7);
}

.page-works {
    background-color: rgba(0, 59, 119, 0.5);
    font-size: 1.5em;
    text-align: center;
    color: #ffffff;
}

.page-works a {
    padding: 10px;
    font-weight: bold;
    text-decoration: none;
    color: #ffffff;
    background-color: rgba(0, 182, 143, 0.664);
    border-radius: 50%;
}

.works-link {
    overflow: hidden;
}

.works-images {
    max-width: 800px;
    height: 677px;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex: 1 1 auto;
}

.images-item, .images-item1 {
    position: relative;
    margin: 0;
    padding: 0;
    width: 50%;
    line-height: 0;
}

.images-item img {
    display: block;
    width: 100%;
    height: 225px;
}

.images-item1 img {
    display: block;
    width: 100%;
}

.hidden {
    display: inline;
}

h1 {
    margin: 0;
    font-size: 1.5em;
    color: rgb(0, 59, 119);
}

.title {
    font-size: 1.3em;
    color: rgb(0, 59, 119);
}

.skills-list, span {
    margin: 3px;
    padding: 0;
}


@media (max-width:800px) {
    .header-about {
        margin: 0 auto;
    }
    .header-contacts {
        margin: 0 auto;
    }
    .contacts-list {
        text-align: center;
    }
    .contacts-birth {
        text-align: center;
    }
    .images-item {
        width: 100%;
    }
    .images-item1 {
        width: 100%;
    }
    .images-item img {
        height: 100%;
    }
    .images-item1 {
        height: 100%;
    }
    .works-images {
        height: auto;
    }
    .page-main {
        word-wrap: normal;
    }
    .hidden {
        display: none;
    }
    @media (max-width: 485px) {
        .contacts-birth {
            margin-top: 1em;
        }
    }
}